BR2_arceb=y
BR2_JLEVEL=32
BR2_KERNEL_HEADERS_3_10=y
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_WCHAR=y
BR2_PTHREAD_DEBUG=y
BR2_PACKAGE_HOST_GDB=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_GIT=y
BR2_LINUX_KERNEL_CUSTOM_GIT_REPO_URL="/home/akolesov/kernel/linux"
BR2_LINUX_KERNEL_CUSTOM_GIT_VERSION="ezchip-3.10-arc-mods"
BR2_LINUX_KERNEL_PATCH="~/buildroot/linux"
BR2_LINUX_KERNEL_DEFCONFIG="nps"
BR2_PACKAGE_GDB=y
BR2_TARGET_ROOTFS_CPIO=y
# BR2_TARGET_ROOTFS_TAR is not set
